[Unit]
Description=Run VPN init-check at boot
After=vpn-connect.service vpn-reset.service
Wants=vpn-reset.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vpn init-check

[Install]
WantedBy=multi-user.target
